.input {
    display: flex;
    flex-direction: column;
}
.input p {
    color: red;
}
.containerPassword{
    margin-top: min(2.133vh, 1.2vw);
}
.containerPassword label {
    font-size: min(1.778vh, 1vw);
    font-weight: 600;
    color: #3F1700;
}
.link {
    display: flex;
    justify-content: flex-end;
    width: 65%;
    font-size: min(1.6vh, 0.9vw);
}
.link a {
    color: #3F1700;
    font-weight: 600;
}
.containerPassword form {
    display: flex;
    flex-direction: column;
    gap: min(2.667vh, 1.5vw);
}
.containerPassword input{
    border: 1px solid #888;
    width: 65%;
    padding: min(1.778vh, 1vw);
    height: min(5.333vh, 3vw);
    font-size: min(1.778vh, 1vw);
}
.containerPassword button {
    padding: min(1.778vh, 1vw);
    font-size: min(1.778vh, 1vw);
    width: 20%;
    background-color: #3F1700;
    color: #fff;
    font-weight: 600;
}