.password {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #3F1700;
    gap: min(3.556vh, 2vw);
    height: min(100vh, 56.25vw);
    overflow-y: hidden;
}
.logo {
    font-size: min(3.556vh, 2vw);
    font-weight: bold;
}
.passwordContainer{
    padding: min(16vh, 9vw);
}
.title {
    line-height: 1.5;
}
.title h1 {
    margin-top: min(3.556vh, 2vw);
    font-size: min(3.2vh, 1.8vw);
}
.desc p {
    color: #888;
    font-size: min(1.778vh, 1vw);
}
.dummyImg {
    position: relative;
    z-index: 0;
    transform: translateX(min(12.444vh, 7vw));
    background-color: #ccc;
    width: min(71.111vh, 40vw);
    height: min(97.778vh, 55vw);
    display: flex;
    justify-content: center;
    align-items: center;
}
.dummyImg img {
    position: absolute;
    overflow: hidden;
    object-fit: cover;
}
.containerDesc {
    position: absolute;
    bottom: 3%;
    background-color: rgba(255, 255, 255, 0.26);
    backdrop-filter: blur(10px);
    width: min(64vh, 36vw);
    height: min(26.667vh, 15vw);
    padding: min(3.556vh, 2vw);
    font-size: min(2.311vh, 1.3vw);
    color: #fff;
}
.text {
    margin-top: min(2.133vh, 1.2vw);
    display: flex;
    flex-direction: column;
}
.nameText {
    font-weight: bold;
}
.slideImage {
    flex-shrink: 1;
}
.form label {
    font-weight: bold;
    font-size: min(2.133vh, 1.2vw);
}
.form input {
    border: 1px solid #888;
    height: min(5.333vh, 3vw);
    font-size: min(1.956vh, 1.1vw);
    margin-top: min(0.889vh, 0.5vw);
    width: min(55.111vh, 31vw);
}
.column {
    margin-top: min(1.778vh, 1vw);
    display: flex;
    gap: min(1.778vh, 1vw);
    flex-direction: column;
}
.row .name, .column .email, .column .password {
    display: flex;
    flex-direction: column;
}
.agree {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.forgotPassword {
    transform: translateY(5px);
    font-size: min(1.778vh, 1vw);
}
.forgotPassword a {
    color: #3F1700;
    font-weight: bold;
}
.agree label {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin-top: min(1.778vh, 1vw);
    font-size: min(1.956vh, 1.1vw);
}
.agree .checkbox {
    text-align: center;
    display: flex;
    gap: 0.5vw;
}
.agree label a {
    color: #3F1700;
}
.agree input[type="checkbox"] {
    width: 1.3vw;
    height: 1.3vw;
    accent-color: #3F1700;
    transform: translateY(-10px);
}
.form button {
    width: 100%;
    font-size: min(2.133vh, 1.2vw);
    margin-top: min(1.778vh, 1vw);
    padding: min(1.778vh, 1vw) min(3.556vh, 2vw);
    background-color: #3F1700;
    font-weight: 600;
    color: #fff;
}
.login {
    font-size: min(1.778vh, 1vw);
    margin-top: min(1.778vh, 1vw);
    font-weight: 600;
    text-align: center;
}
.login span {
    text-decoration: underline;
}
.login a {
    color: #3F1700;
}
.errorText {
    color: red;
}
:global(.ant-divider .ant-divider-rail) {
    border-block-start: 1px solid #9f9f9f !important;
}
:global(.ant-divider-inner-text) {
    font-size: min(1vw, 1.778vh);
    color: #6c6c6c !important;
}
:global(.swiper-pagination) {
    transform: translateX(45px) !important;
}
:global(.swiper-pagination-bullet) {
    width: min(8.64vw, 8.64vh) !important;
    height: min(0.6vw, 0.6vh) !important;
    background-color: #F5BD62 !important;
    border-radius: 0 !important;
}