.blogContainer {
    height: min(100vh, 56.25vw);
    width: 100%;
}
.titleText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: min(7.111vh, 4vw) min(3.556vh, 2vw);
    font-size: min(2.311vh, 1.3vw);
    gap: min(1.778vh, 1vw);
}

.containerBlog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: min(3.556vh, 2vw);
    margin: min(3.556vh, 2vw) min(17.778vh, 10vw);
    height: 100%;
}

.imageContainer .dummyImg {
    position: relative;
    width: min(44.444vh, 25vw);
    height: min(35.556vh, 20vw);
    background-color: #f0f0f0;
}

.date {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: min(0.356vh, 0.2vw);
    background-color: #fff;
    font-size: min(1.422vh, 0.8vw);
    font-weight: 600;
}

.dateContent {
    position: relative;
    left: 2%;
    font-size: min(1.778vh, 1vw);
    top: min(0.356vh, 0.2vw);
    background-color: #F5BD62;
    padding: min(2.133vh, 1.2vw);
}

.textContainer h2 {
    font-size: min(2.844vh, 1.6vw);
    font-weight: 600;
    margin-top: min(1.778vh, 1vw);
    height: min(5.333vh, 3vw);
    width: 80%;
}

.textContainer p {
    font-size: min(1.778vh, 1vw);
    flex-grow: 1;
    width: 80%;
    margin-top: min(2.133vh, 1.2vw);
}

.linkContainer {
    margin-top: min(1.778vh, 1vw);
}

.linkContainer a {
    color: #3F1700;
    font-size: min(1.778vh, 1vw);
    font-weight: 600;
}