.relatedProducts {
    margin: min(2vw, calc(2vh * 1.8)) min(5vw, calc(5vh * 1.8));
}

.textContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: min(4vw, calc(4vh * 1.8)) min(2vw, calc(2vh * 1.8));
    font-size: min(1.3vw, calc(1.3vh * 1.8));
    gap: min(1vw, calc(1vh * 1.8));
}

.grid a {
    text-decoration: none;
    color: #000000;
}

.textGrid {
    line-height: min(2vw, calc(2vh * 1.8));
}

.productCard {
    width: auto;
    flex-shrink: 0;
}

.productInfo {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.noRelated {
    font-size: min(1.2vw, calc(1.2vh * 1.8));
    margin: 0 auto;
    color: #888;
}

.dummyImg {
    background-color: #F6F6F6;
    width: min(22vw, calc(22vh * 1.8));
    height: min(22vw, calc(22vh * 1.8));
}

.variant {
    color: #787878;
}

.rating {
    font-size: min(1vw, calc(1vh * 1.8));
    font-weight: 600;
    letter-spacing: min(0.1vw, calc(0.1vh * 1.8));
}

.price {
    font-size: min(1.3vw, calc(1.3vh * 1.8));
    font-weight: 500;
    display: flex;
    gap: min(1vw, calc(1vh * 1.8));
}

.priceDiscount {
    font-weight: bold;
}

.priceFixed {
    text-decoration: line-through;
    color: #888;
}

.productContainer {
    display: flex;
    justify-content: space-between;
    padding: min(1vw, calc(1vh * 1.8));
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: min(1vw, calc(1vh * 1.8));
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: min(1.2vw, calc(1.2vh * 1.8));
}

.iconVisible {
    opacity: 1;
}

.icon .iconInner {
    background-color: #fff;
    display: flex;
    padding: min(1vw, calc(1vh * 1.8));
    border-radius: 50%;
    box-shadow: 0 5px #0000001a;
}

.discountText {
    color: #00a158;
    width: min(5.2vw, calc(5.2vh * 1.8));
    height: min(2vw, calc(2vh * 1.8));
    background: #fff;
    text-align: center;
    font-size: min(1.1vw, calc(1.1vh * 1.8));
    font-weight: 600;
}