.shopContent {
    display: flex;
}

.sideBar {
    width: min(35.556vh, 20vw);
    display: flex;
    flex-direction: column;
    gap: min(1.778vh, 1vw);
}
.textContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: min(7.111vh, 4vw) min(3.556vh, 2vw);
    font-size: min(2.311vh, 1.3vw);
    gap: min(1.778vh, 1vw);
}
.sideBar h3 {
    font-size: min(2.489vh, 1.4vw);
    font-weight: 600;
}
.titleSide {
    border-bottom: 1px solid #cccbcb;
    margin: min(1.778vh, 1vw) min(1.778vh, 1vw);
    padding: min(1.778vh, 1vw) 0;
}
.filterGroup {
    display: flex;
    flex-direction: column;
    gap: min(1.778vh, 1vw);
    padding: min(0.889vh, 0.5vw) 0;
    margin: 0 min(1.778vh, 1vw);
    border-bottom: 1px solid #cccbcb;
}
.filterGroup h3 {
    font-size: min(2.489vh, 1.4vw);
}
.scrollable {
    max-height: min(27.778vh, 15.625vw);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: min(0.741vh, 0.417vw);
    padding-right: min(0.556vh, 0.313vw);
    scrollbar-gutter: stable;
}
.scrollable::-webkit-scrollbar {
    width: min(0.462vh, 0.26vw);
}
.scrollable::-webkit-scrollbar-track {
    background: transparent;
}
.scrollable::-webkit-scrollbar-thumb {
    background-color: #000;
}
.filterGroup:last-child{
    border: none;
}
.category {
    display: flex;
    flex-direction: column;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: min(1.778vh, 1vw) 0 0 min(5.333vh, 3vw);
}
.grid a {
    text-decoration: none;
    color: #000000;
}
.textGrid {
    line-height: min(3.556vh, 2vw);
}
.productCard {
    width: min(44.444vh, 25vw);
    height: min(53.333vh, 30vw);
}
.productInfo {
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.dummyImg {
    background-color: #F6F6F6;
    width: min(39.111vh, 22vw);
    height: min(39.111vh, 22vw);
}

.variant {
    color: #787878;
}

.rating {
    font-size: min(1.778vh, 1vw);
    font-weight: 600;
    letter-spacing: min(0.178vh, 0.1vw);
}

.priceCategory p {
    font-size: min(1.956vh, 1.1vw);
}

.priceInfo {
    font-size: min(2.311vh, 1.3vw);
    font-weight: 500;
    display: flex;
    gap: min(1.778vh, 1vw);
}

.priceDiscount {
    font-weight: bold;
}

.priceFixed {
    text-decoration: line-through;
    color: #888;
}

.containerShop :global(.ant-pagination) {
    font-size: min(2.311vh, 1.3vw);
    justify-content: center;
}

.containerShop :global(.ant-pagination-item-active) {
    background-color: #F5BD62;
    width: min(4.267vh, 2.4vw);
    height: min(4.089vh, 2.3vw);
    padding-top: min(0.356vh, 0.2vw);
    border: none;
    border-radius: 0;
}

.containerShop :global(.ant-pagination-item-active a) {
    color: #000;
}

.containerShop :global(.ant-pagination-options) {
    display: none;
}

.containerShop :global(.anticon-right) {
    font-size: min(2.311vh, 1.3vw);
}

.containerShop :global(.anticon-left) {
    font-size: min(2.311vh, 1.3vw);
}

.productContainer {
    display: flex;
    justify-content: space-between;
    padding: min(1.778vh, 1vw);
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: min(1.778vh, 1vw);
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: min(2.133vh, 1.2vw);
}

.iconVisible {
    opacity: 1;
}

.icon .iconInner {
    background-color: #fff;
    display: flex;
    padding: min(1.778vh, 1vw);
    border-radius: 50%;
    box-shadow: 0 5px #0000001a;
}

.filterTitle {
    display: flex;
    justify-content: space-between;
}

.sorting {
    display: flex;
    gap: min(1.778vh, 1vw);
    align-items: center;
}

.sorting h2 {
    font-size: min(1.778vh, 1vw);
    font-weight: 400;
}

.showingResult h2 {
    font-size: min(2.133vh, 1.2vw);
    font-weight: 400;
}

.filterTags {
    margin: min(1.778vh, 1vw) min(5.333vh, 3vw);
}

.activeTags {
    margin-top: min(1.778vh, 1vw);
    display: flex;
    align-items: center;
    gap: min(1.778vh, 1vw);
}

.activeTags p {
    font-size: min(1.778vh, 1vw);
}

.tagsFilter {
    display: flex;
    gap: min(1.778vh, 1vw);
}

.tagsFilter .tag {
    background-color: #F5BD62;
    padding: min(1.067vh, 0.6vw);
    display: flex;
    gap: min(0.889vh, 0.5vw);
    font-size: min(1.778vh, 1vw);
}

.tagsFilter .tag button {
    border: none;
    background-color: transparent;
    font-size: min(2.311vh, 1.3vw);
}

.clearAll {
    border: none;
    background-color: transparent;
    text-decoration: underline;
    font-size: min(1.778vh, 1vw);
    color: #3F1700;
}

.discountText {
    color: #00a158;
    width: min(9.244vh, 5.2vw);
    height: min(3.556vh, 2vw);
    background: #fff;
    text-align: center;
    font-size: min(1.956vh, 1.1vw);
    font-weight: 600;
}

.sizeOptions {
    display: flex;
    flex-direction: column;
}

:global(.ant-checkbox-wrapper) {
    font-size: min(1.778vh, 1vw);
}

:global(.ant-checkbox) {
    border-color: #3F1700 !important;
}

:global(.ant-checkbox-checked::after) {
    background-color: #3F1700;
}

:global(.ant-slider-track) {
    background-color: #3F1700 !important;
}

:global(.ant-select) {
    font-size: min(1.6vh, 0.9vw);
    width: min(17.778vh, 10vw);
}

:global(.ant-select-dropdown .ant-select-item) {
    font-size: min(1.6vh, 0.9vw);
}